body{
  font-family: Optima,Georgia,Times,serif;
  font-size: 14px;
  color: #333333;
  max-width: 1000px;
}

h1{
  color: #D41B2C;
  font-size: 36px;
  font-family: Futura, sans-serif;
  font-weight: bold;
}

h3{
  font-size: 18px;
  font-weight: normal;
}

#header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 150px;
}

#headerText{
  display: flex;
  flex-direction: column;
  height: 120px;
  margin-top: 15px;
}

#headerText div:first-child{
  color: #D41B2C;
  font-size: 36px;
  font-family: Futura, sans-serif;
  font-weight: bold;
}

#headerText div{
  font-size: 16px;
  font-weight: normal;
}

#headshot{
  padding: 10px;
}

#logo{
  padding: 10px;
  margin-left: auto;
  margin-right: 40px;
}

#logo img{
  max-height: 80px;
}

#menu {
  float:left;
  width: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #D41B2C 60%, rgba(255,255,255,0));
  font-family: Futura, sans-serif;
}

#menu div{
  padding: 15px;
  font-weight: bold;
}

#menu a{
  text-transform: uppercase;
  font-size: 14 px;
  color: #262626;
  text-decoration: none;
  text-align: center;
}

#menu div:hover {
  color: #FFFFFF;
}

#menu .active{
  color: #FFFFFF;
}

#container {
  background-color: #FFFFFF;
  min-height: 300px;
  margin-top: 60px;
  padding: 15px;
  overflow-y: auto;
}

.ribbon {
  max-width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.leftImg {
  height: 250px;
  max-width: 100%;
  padding: 10px;
  float: left;
}

.rightImg {
  height: 300px;
  max-width: 100%;
  padding: 10px;
  float: right;
}

#footer {
  padding: 0px 0px 15px 0px;
}

#footer p {
  font-size: 11px;
  text-align: center;
  color: #333333;
}

#footer a {
}

.thumb{
  float: left;
  display: flex;
  align-items: flex-start;
}

.thumb img{
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  max-width: 70px;
  max-height: 37px;
  border: 2px solid;
}

.thumb img:hover{
    box-shadow: 0 0 10px;
}

.ref{
  padding-bottom: 40px;
  padding-left: 25px;
  margin-left: 20px;
  display: table-cell;
}

.title{
  font-family: Futura, sans-serif;
  font-size: 15px;
}

.title a{
  color: #D41B2C;
}

.doc {
  position: relative;
  top: 5px;
}

a:link{
  color: #D41B2C;
  text-decoration: none;
}

a:visited{
  color: #D41B2C;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}
